<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="stylecheets/chat.css">
</head>

<body>
    <div id="chat_room">
        <ul id="chat_messages">
        </ul>
    </div>

    <button id="btn_read">read_already</button>
    <form id="send_form" action="#">
        <input id="send_message" autocomplete="off" />
        <button type="submit">Send</button>
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>

</body>

</html>