<!doctype html>
<html>

<head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" href="stylesheets/chat.css">
</head>

<body>
    <div id="chat_room">
        <ul id="chat_messages">
        </ul>
    </div>

    <div id="user_action">
        <div id="user_utils">
            <input id="user_name" autocomplete="off" />
            <ul>
                <li class="stamp" id="stamp0">
                    <img src="asset/animalface_niwatori.png" alt="">
                </li>
            </ul>
            <button id="btn_read">read_already</button>
        </div>
        <form id="send_form" action="#">
            <input id="send_message" autocomplete="off" />
            <button type="submit">Send</button>
        </form>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/client.js"></script>

</body>

</html>