* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #bcf5ff;
    font: 13px Helvetica, Arial;
}

#user_action {
    background: #999;
    padding: 3px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#user_action>*{
    margin:0.2rem;
}
#user_action>*>*{
    border-radius: 1rem;
}
#user_action input {
    border: 5px;
    padding: 10px;
    margin-right: .5%;
}
#user_action button {
    width: 9%;
    background: rgb(130, 224, 255);
    border: none;
    padding: 10px;
}
#user_utils{
    display: flex;
}
#user_utils>button{
    margin-left: auto;
    margin-right: 0rem;
}
#user_name{
    width: 10rem;
}
#send_message{
    width: 90%;
}

.message {
    list-style-type: none;
    margin: 0.5rem;
    padding: 0;
    display: flex;
}
.message .message_comment{
    font-size:2rem;    
    border-radius: 1rem;
    padding: 0.5rem;
}

.message+.me{
    text-align: right;
    flex-direction: row-reverse;
}
.message+.you{
    text-align: left;    
}

.message+.me>.message_comment{
    background-color: #77ff89;
}
.message+.you>.message_comment{
    background-color: #fff;
}

#messages li {
    padding: 5px 10px;
}

#messages li:nth-child(odd) {
    background: #eee;
}

.read::after {
    content: '既読'
}

.stamp{
    display: flex;
    background-color: #fff;
    border-radius: 50%;
}
.stamp>img{
    height: 2rem;
    width: auto;
}
.message_comment>img{
    height: 10rem;
    width: auto;
}